<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>KBO 경기 일정</title>
    <script>
        function fetchGames(){
            const month = document.getElementById("monthSelect").value;
            if(month) {
                window.location.href = `/game/list?month=${month}`;
            }
        }
    </script>
</head>
<body>
<h1>KBO 리그 경기 일정</h1>
<select id="monthSelect" onchange="fetchGames()">
    <option value="01">1월</option>
    <option value="02">2월</option>
    <option value="03">3월</option>
    <option value="04">4월</option>
    <option value="05">5월</option>
    <option value="06">6월</option>
    <option value="07">7월</option>
    <option value="08">8월</option>
    <option value="09">9월</option>
    <option value="10">10월</option>
    <option value="11">11월</option>
    <option value="12">12월</option>
</select>
<table border="1">
    <thead>
    <tr>
        <th>날짜</th>
        <th>시간</th>
        <th colspan="2">원정팀</th>
        <th>VS</th>
        <th colspan="2">홈팀</th>
        <th>장소</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="game : ${games}">
            <td th:text="${game.gameDate}"></td>
            <td th:text="${game.gameTime}"></td>
            <td th:text="${game.teamA}"></td>
            <td th:text="${game.scoreA}"></td>
            <td>vs</td>
            <td th:text="${game.scoreB}"></td>
            <td th:text="${game.teamB}"></td>
            <td th:text="${game.gameField}"></td>
        </tr>
        <tr th:if="${#lists.isEmpty(games)}">
            <td colspan="6">경기 일정이 없습니다.</td>
        </tr>
    </tbody>
</table>
</body>
</html>
