<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>야구 경기 일정</title>
  <link rel="stylesheet" href="/css/game/weather.css">
  <link rel="stylesheet" href="/css/header-footer.css">
  <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=YOUR_CLIENT_ID"></script>
</head>
<body>

<!-- 헤더 부분 -->
<header>
  <nav>
    <div class="logo">
      <a href="./mainpage.html"><img src="/img/고매치로고.png" alt="야구 리그 로고"></a>
    </div>
    <ul class="nav-links">
      <li><a href="#">일정/결과</a></li>
      <li><a href="#">굿즈</a></li>
      <li><a href="#">소모임</a></li>
      <li><a href="#">승부예측</a></li>
    </ul>
    <ul class="memeber-links">
      <li><a href="loginpage">로그인</a></li>
      <li><a href="joinmember">회원가입</a></li>
    </ul>
  </nav>
</header>
<main>
  <aside>
    <div id="aside-main">
      <div id="aside-content">
        <span>일정/결과</span>
        <hr  class="aside-header">
        <ul>
          <li><a href="/game/list" >경기일정</a></li>
          <li><a href="/game/teamrank">팀 순위</a></li>
          <li><a href="/game/playerrank">선수 순위</a></li>
          <li><a href="/game/weather" class="active">야구장 날씨</a></li>
        </ul>
      </div>
    </div>
  </aside>
  <section class="weather-section">
    <div class="weather-container">
      <h1>야구장 날씨</h1>
      <div id="map" style="width:100%;height:400px;"></div>
      <table>
        <thead>
        <tr>
          <th>야구장 이름</th>
          <th>위도</th>
          <th>경도</th>
          <th>주소</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stadium : ${stadiums}">
          <td th:text="${stadium.stadiumName}">야구장 이름</td>
          <td th:text="${stadium.latitude}">위도</td>
          <td th:text="${stadium.longitude}">경도</td>
          <td th:text="${stadium.stadiumAddress}">주소</td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>
<div class="team-logos">
  <div class="team-logos-container">
    <a href="#"><img src="/img/LG로고.png" alt="Twins" class="team-logo"></a>
    <a href="#"><img src="/img/KT로고.png" alt="Kiwiz" class="team-logo"></a>
    <a href="#"><img src="/img/SSG로고.png" alt="Landers" class="team-logo"></a>
    <a href="#"><img src="/img/NC로고.png" alt="Dinos" class="team-logo"></a>
    <a href="#"><img src="/img/두산로고.png" alt="Bears" class="team-logo"></a>
    <a href="#"><img src="/img/기아로고.png" alt="Tigers" class="team-logo"></a>
    <a href="#"><img src="/img/롯데로고.png" alt="Giants" class="team-logo"></a>
    <a href="#"><img src="/img/삼성로고.png" alt="Lions" class="team-logo"></a>
    <a href="#"><img src="/img/한화로고.png" alt="Wiz" class="team-logo"></a>
    <a href="#"><img src="/img/키움로고.png" alt="Heroes" class="team-logo"></a>
  </div>
</div>
</div>
<footer class="footer-page">
  <div class="footer-content">
    <div class="logo">
      <img src="/img/고매치로고.png" alt="GoMatch 로고">
    </div>
    <div class="footer-text">
      <p>게인정보 처리방침</p>
      <p>(사)GoMatch｜서울 종구 남대문로 120 대경빌딩 3층｜02)1544-1515</p>
      <p>Copyright © GoMatch</p>
    </div>
  </div>
</footer>
<script>
  var mapOptions = {
    center: new naver.maps.LatLng(37.3595704, 127.105399),
    zoom: 10
  };

  var map = new naver.maps.Map('map', mapOptions);
</script>
</body>
</html>