<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="/css/member/findpw.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>

    </style>
</head>
<body>
<!-- 헤더 부분 -->
<div th:insert="~{header-footer :: header}"></div>
<main>
    <div class="container">
        <div class="findid">
            <h2>비밀번호 찾기</h2>
            <form id="resetPasswordForm">
                <label for="memberId">아이디</label>
                <input type="text" id="memberId" name="memberId" placeholder="아이디" required>

                <label for="email">이메일</label>
                <input type="email" id="email" name="email" placeholder="이메일" required>

                <button type="submit">임시 비밀번호 발급받기</button>
            </form>
            <div class="find-member">
                <p><a href="./findid" class="find-member">아이디 찾기</a>
                    <a href="./findpw" class="find-member">비밀번호 찾기</a>
                    <a href="./joinmember" class="find-member">회원가입</a></p>
            </div>
        </div>
    </div>
</main>

<!-- 메인태그 닫고 로고 푸터 시작  -->
<div th:insert="~{header-footer :: footer}"></div>
<script>
    document.getElementById('resetPasswordForm').addEventListener('submit', function(e) {
        e.preventDefault();

        var formData = new FormData(this);

        fetch('/member/findpw', {
            method: 'POST',
            body: new URLSearchParams(formData)
        })

            .then(data => {
                alert('임시 비밀번호가 전송되었습니다.');
                alert('로그인 페이지로 이동 합니다')
                window.location.href = '/member/loginpage';
            })
            .catch(error => {
                // console.error('Error:', error);
                alert('비밀번호 전송 실패');
            });
    });
</script>
</body>
</html>