<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{header-footer :: head}"></head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<body>
<link rel="stylesheet" href="/css/member/findid.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- 헤더 부분 -->
<div th:insert="~{header-footer :: header}"></div>
  <main>
    <div class="container">
      <div class="findid">
        <h2>아이디 찾기</h2>
        <form th:action="@{/member/findid}" method="post">
          <label for="name">이름</label>
          <input type="text" id="name" name="name" placeholder="이름을 입력하세요" required>

          <label for="birthdate">생년월일</label>
          <input type="text" id="birthDate" name="birthDate" placeholder="생년월일을 입력하세요 (예: 19901231)" required>

          <button type="submit">아이디 찾기</button>
        </form>
        <div th:if="${foundId}" class="found-id">
          <p><span th:text="${membername}"></span> 아이디를 찾은 결과 : <span class="findidview" th:text="${foundId}"></span> 입니다 </p>
        </div>
        <div th:if="${errorMessage}" class="error-message">
          <p th:text="${errorMessage}"></p>
        </div>
        <div class="find-member">
          <p><a href="./findid" class="find-member">아이디 찾기</a>
            <a href="./findpw" class="find-member">비밀번호 찾기</a>
            <a href="./joinmember" class="find-member">회원가입</a></p>
        </div>
      </div>
    </div>
  </main>

<!-- 메인태그 닫고 로고 푸터 시작  -->
<div th:insert="~{header-footer :: footer}"></div>
  </body>
</html>