<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>아이디 찾기</title>
  <link rel="stylesheet" href="/css/header-footer.css">
  <link rel="stylesheet" href="/css/member/findid.css">
</head>
<body>
<div th:insert="~{header-footer :: header}"></div>
  <main>
    <div class="container">
      <div class="findid">
        <h2>아이디 찾기</h2>
        <form th:action="@{/member/findid}" method="post">
          <label for="name">이름</label>
          <input type="text" id="name" name="name" placeholder="이름을 입력하세요" required>

          <label for="birthdate">생년월일</label>
          <input type="text" id="birthDate" name="birthDate" placeholder="생년월일을 입력하세요 (예: 19901231)" required>

          <button type="submit">아이디 찾기</button>
        </form>
        <div th:if="${foundId}" class="found-id">
          <p><span th:text="${membername}"></span> 아이디를 찾은 결과 : <span class="findidview" th:text="${foundId}"></span> 입니다 </p>
        </div>
        <div th:if="${errorMessage}" class="error-message">
          <p th:text="${errorMessage}"></p>
        </div>
        <div class="find-member">
          <p><a href="./findid" class="find-member">아이디 찾기</a>
            <a href="./findpw" class="find-member">비밀번호 찾기</a>
            <a href="./joinmember" class="find-member">회원가입</a></p>
        </div>
      </div>
    </div>
  </main>

<!-- 메인태그 닫고 로고 푸터 시작  -->
<div th:insert="~{header-footer :: footer}"></div>
  </body>
</html>