<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/joinmember.css">
</head>
<body>
<!-- 헤더 부분 -->
<header>
    <nav>
        <div class="logo">
            <a href="/mainpage.html"><img src="/img/고매치로고.png" alt="야구 리그 로고"></a>
        </div>
        <ul class="nav-links">
            <li><a href="#">일정/결과</a></li>
            <li><a href="#">굿즈</a></li>
            <li><a href="#">소모임</a></li>
            <li><a href="#">승부예측</a></li>
        </ul>
        <ul class="memeber-links">
            <li><a href="loginpage">로그인</a></li>
            <li><a href="joinmember">회원가입</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        <!-- <div class="image-container">
            <img src="/img/승리예측 홍보.jpg" alt=""></a>
        </div> -->
        <div class="form-container">
            <h2>회원가입</h2>
            <form>
                <label for="username">아이디 입력</label>
                <input type="text" id="username" placeholder="아이디를 입력하세요">

                <label for="password">비밀번호 입력</label>
                <input type="password" id="password" placeholder="비밀번호를 입력하세요">

                <label for="password-confirm">비밀번호 확인</label>
                <input type="password" id="password-confirm" placeholder="비밀번호를 다시 입력하세요">

                <label for="name">이름</label>
                <input type="text" id="nickname" placeholder="이름을 입력하세요">

                <label for="nickname">닉네임</label>
                <input type="text" id="nickname" placeholder="닉네임을 입력하세요">

                <label for="birth">생년월일</label>
                <input type="date" id="birth">

                <label for="email">이메일</label>
                <div class="email-input">
                    <input type="email" class="email" placeholder="이메일을 입력하세요">
                    <button type="button" class="emailbutton">인증요청</button>
                </div>

                <label for="email">인증번호</label>
                <div class="email-input">
                    <input type="text" class="email" placeholder="인증번호를 입력하세요">
                    <button type="button" class="emailbutton">인증확인</button>
                </div>

                <button type="submit">회원가입</button>
            </form>
        </div>
    </div>
</main>
<div class="team-logos">
    <div class="team-logos-container">
        <a href="#"><img src="/img/LG로고.png" alt="Twins" class="team-logo"></a>
        <a href="#"><img src="/img/KT로고.png" alt="Kiwiz" class="team-logo"></a>
        <a href="#"><img src="/img/SSG로고.png" alt="Landers" class="team-logo"></a>
        <a href="#"><img src="/img/NC로고.png" alt="Dinos" class="team-logo"></a>
        <a href="#"><img src="/img/두산로고.png" alt="Bears" class="team-logo"></a>
        <a href="#"><img src="/img/기아로고.png" alt="Tigers" class="team-logo"></a>
        <a href="#"><img src="/img/롯데로고.png" alt="Giants" class="team-logo"></a>
        <a href="#"><img src="/img/삼성로고.png" alt="Lions" class="team-logo"></a>
        <a href="#"><img src="/img/한화로고.png" alt="Wiz" class="team-logo"></a>
        <a href="#"><img src="/img/키움로고.png" alt="Heroes" class="team-logo"></a>
    </div>
</div>
<footer class="footer-page">
    <div class="footer-content">
        <div class="logo">
            <img src="/img/고매치로고.png" alt="GoMatch 로고">
        </div>
        <div class="footer-text">
            <p>게인정보 처리방침</p>
            <p>(사)GoMatch｜서울 종구 남대문로 120 대경빌딩 3층｜02)1544-1515</p>
            <p>Copyright © GoMatch</p>
        </div>
    </div>
</footer>
</body>
</html>