<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/member/joinmember.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
<!-- 헤더 부분 -->
<th:block th:replace="fragments/header.html"></th:block>
<main>
    <div class="container">
        <div class="form-container">
            <h2>회원가입</h2>
            <form id="joinForm" th:action="@{/member/joinmember}" th:object="${memberVO}" method="post">
                <label for="memberId">아이디 입력</label>
                <input type="text" id="memberId" name="memberId" class="form-control" placeholder="아이디를 입력하세요" required>
                <small id="idCheckResult" class="form-text text-muted"></small>

                <label for="memberPw">비밀번호 입력</label>
                <input type="password" id="memberPw" th:field="*{memberPw}" placeholder="비밀번호를 입력하세요" required>

                <label for="password-confirm">비밀번호 확인</label>
                <input type="password" id="password-confirm" placeholder="비밀번호를 다시 입력하세요" required>
                <span id="passwordMatchResult"></span>

                <label for="memberName">이름</label>
                <input type="text" id="memberName" th:field="*{memberName}" placeholder="이름을 입력하세요" required>

                <label for="memberNickName" class="memberNickNamelabel">닉네임</label>
                <div class="nickname-container">
                    <input type="text" id="memberNickName" th:field="*{memberNickName}" placeholder="닉네임을 입력하세요" required>
                    <button type="button" id="generateNickname">↺</button>
                </div>
                <span id="nicknameCheckResult"></span>

                <label for="birthDate">생년월일</label>
                <input type="date" id="birthDate" th:field="*{birthDate}" required>

                <label for="memberEmail">이메일</label>
                <div class="email-input">
                    <input type="email" id="memberEmail" th:field="*{memberEmail}" placeholder="이메일을 입력하세요" required>
                    <button type="button" id="sendVerificationCode">인증번호 받기</button>
                </div>
                <span id="emailCheckResult"></span>

                <label for="email-verification">인증번호</label>
                <div class="email-input">
                    <input type="text" id="email-verification" placeholder="인증번호를 입력하세요">
                    <button type="button" id="verifyCode">인증번호 확인</button>
                </div>
                <span id="verificationResult"></span>

                <label for="preferenceClub">선호 구단</label>
                <select id="preferenceClub" th:field="*{preferenceClub}">
                    <option value="">응원하는 구단을 선택해보세요!</option>
                    <option value="KIA">KIA</option>
                    <option value="삼성">삼성</option>
                    <option value="LG">LG</option>
                    <option value="두산">두산</option>
                    <option value="KT">KT</option>
                    <option value="SSG">SSG</option>
                    <option value="롯데">롯데</option>
                    <option value="한화">한화</option>
                    <option value="NC">NC</option>
                    <option value="키움">키움</option>
                    <option value="없음">없음</option>
                </select>

                <button type="submit" id="joinButton" >회원가입</button>
            </form>
        </div>
    </div>
</main>
<!-- 메인태그 닫고 로고 푸터 시작  -->
<th:block th:replace="fragments/footer.html"></th:block>
<script src="/js/member/member-join.js"></script>
</body>
</html>