<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>야구 리그 로그인</title>
    <link rel="stylesheet" href="/css/member/login.css">
    <link rel="stylesheet" href="/css/header-footer.css">
</head>
<body>

<!-- 헤더 부분 -->
<th:block th:replace="fragments/header.html"></th:block>
<main>
    <div class="container">
        <div class="image-container">
            <img src="/img/승리예측 홍보.jpg" alt=""></a>
        </div>
        <div class="login-container">
            <h2>로그인</h2>
            <form action="/member/loginpage" method="post">
            <label for="memberId">아이디 입력</label>
            <input type="text" id="memberId" name="memberId" class="userid-pw" placeholder="아이디를 입력해주세요.">

            <label for="memberPw">비밀번호 입력</label>
            <input type="password" id="memberPw" name="memberPw" class="userid-pw" placeholder="비밀번호를 입력해주세요.">

            <button type="submit" class="login-btn" >로그인</button>
            </form>
            <div class="find-member">
                <p><a href="./findid" class="find-member">아이디 찾기</a>
                    <a href="./findpw" class="find-member">비밀번호 찾기</a>
                    <a href="./joinmember" class="find-member">회원가입</a></p>
            </div>
            <div class="sns-login">
                <p>SNS계정으로 간편 로그인</p>
                <button type="submit" class="kakao-btn">카카오톡</button>
                <button type="submit" class="naver-btn">네이버</button>
            </div>
        </div>
    </div>
</main>
<!-- 메인태그 닫고 로고 푸터 시작  -->
<th:block th:replace="fragments/footer.html"></th:block>


</body>
</html>