<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보 수정</title>
    <link rel="stylesheet" href="../css/header_footer.css">
    <link rel="stylesheet" href="../css/modifymember.css">
</head>
<body>
<!-- 헤더 부분 -->
<header>
    <nav>
        <div class="logo">
            <a href="./mainpage.html"><img src="../images/고매치로고.png" alt="야구 리그 로고"></a>
        </div>
        <ul class="nav-links">
            <li><a href="#">일정/결과</a></li>
            <li><a href="#">굿즈</a></li>
            <li><a href="#">소모임</a></li>
            <li><a href="#">승부예측</a></li>
        </ul>
        <ul class="memeber-links">
            <li><a href="loginpage.html">로그인</a></li>
            <li><a href="joinmember.html">회원가입</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="mypage-container">
        <div class="profile-img"><img src="../images/나이용재.PNG" alt=""></div>
        <div class="profile-info">
            <h1>아용재</h1>
            <h5>닉네임</h5>
            <p>개인정보 수정과 열람 내역을 확인 할 수 있습니다.</p>
        </div>
    </div>
    <div class="container">
        <!-- <div class="image-container">
            <img src="../images/승리예측 홍보.jpg" alt=""></a>
        </div> -->
        <div class="form-container">
            <h2>회원정보 수정</h2>
            <form>
                <label for="username">아이디 입력</label>
                <input type="text" id="username" placeholder="아이디를 입력하세요">

                <label for="password">비밀번호 입력</label>
                <input type="password" id="password" placeholder="비밀번호를 입력하세요">

                <label for="name">이름</label>
                <input type="text" id="nickname" placeholder="이름을 입력하세요">

                <label for="nickname">닉네임</label>
                <input type="text" id="nickname" placeholder="닉네임을 입력하세요">

                <label for="birth">생년월일</label>
                <input type="date" id="birth">

                <label for="email">이메일</label>
                <div class="email-input">
                    <input type="email" class="email" placeholder="이메일을 입력하세요">
                    <button type="button" class="emailbutton">인증요청</button>
                </div>
                <button type="submit">수정 완료</button>
            </form>
        </div>
    </div>
</main>
<!-- 메인태그 닫고 로고 푸터 시작  -->
<div class="team-logos">
    <div class="team-logos-container">
        <a href="#"><img src="../images/LG로고.png" alt="Twins" class="team-logo"></a>
        <a href="#"><img src="../images/KT로고.png" alt="Kiwiz" class="team-logo"></a>
        <a href="#"><img src="../images/SSG로고.png" alt="Landers" class="team-logo"></a>
        <a href="#"><img src="../images/NC로고.png" alt="Dinos" class="team-logo"></a>
        <a href="#"><img src="../images/두산로고.png" alt="Bears" class="team-logo"></a>
        <a href="#"><img src="../images/기아로고.png" alt="Tigers" class="team-logo"></a>
        <a href="#"><img src="../images/롯데로고.png" alt="Giants" class="team-logo"></a>
        <a href="#"><img src="../images/삼성로고.png" alt="Lions" class="team-logo"></a>
        <a href="#"><img src="../images/한화로고.png" alt="Wiz" class="team-logo"></a>
        <a href="#"><img src="../images/키움로고.png" alt="Heroes" class="team-logo"></a>
    </div>
</div>
</div>
<footer class="footer-page">
    <div class="footer-content">
        <div class="logo">
            <img src="../images/고매치로고.png" alt="GoMatch 로고">
        </div>
        <div class="footer-text">
            <p>게인정보 처리방침</p>
            <p>(사)GoMatch｜서울 종구 남대문로 120 대경빌딩 3층｜02)1544-1515</p>
            <p>Copyright © GoMatch</p>
        </div>
    </div>
</footer>
</body>
</html>