<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{header-footer :: head}"></head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<body>
<div th:insert="~{header-footer :: header}"></div>
<link rel="stylesheet" href="../css/member/modifymember.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- 헤더 부분 -->
<div th:insert="~{header-footer :: header}"></div>
<main>
    <div class="mypage-container">
        <div class="profile-img">
            <img id="profileImagePreview" th:src="${memberVO.profileImageUrl != null ? memberVO.profileImageUrl : '/img/기본프로필.png'}" alt="프로필 이미지">
        </div>
        <div class="profile-info">
            <h1 th:text="${memberName}">이름</h1>
            <h5 th:text="${memberNickName}">닉네임</h5>
            <p>개인정보 수정과 열람 내역을 확인 할 수 있습니다.</p>
        </div>
    </div>
    <div class="container">
        <div class="form-container">
            <h2>회원정보 수정</h2>
            <form id="updateForm" th:action="@{/member/modifymember}" th:object="${memberVO}" method="post" enctype="multipart/form-data">
                <label for="memberId">아이디</label>
                <input type="text" id="memberId" th:field="*{memberId}">
                <span id="idCheckResult"></span>

                <label for="memberName">이름</label>
                <input type="text" id="memberName" th:field="*{memberName}">

                <label for="memberNickName">닉네임</label>
                <input type="text" id="memberNickName" th:field="*{memberNickName}">
                <span id="nicknameCheckResult"></span>

                <label for="memberEmail">이메일</label>
                <div class="email-input">
                    <input type="email" id="memberEmail" th:field="*{memberEmail}">
                </div>
                <span id="emailCheckResult"></span>

                <label for="preferenceClub">선호 구단</label>
                <select id="preferenceClub" th:field="*{preferenceClub}">
                    <option value="">응원하는 구단을 선택해보세요!</option>
                    <option value="KIA">KIA</option>
                    <option value="삼성">삼성</option>
                    <option value="LG">LG</option>
                    <option value="두산">두산</option>
                    <option value="KT">KT</option>
                    <option value="SSG">SSG</option>
                    <option value="롯데">롯데</option>
                    <option value="한화">한화</option>
                    <option value="NC">NC</option>
                    <option value="키움">키움</option>
                    <option value="없음">없음</option>
                </select>

                <div class="form-group">
                    프로필 이미지
                    <label for="profileImageInput" class="custom-file-label">파일 선택</label>
                    <input type="file" id="profileImageInput" name="profileImage" accept="img/*">
                </div>

                <h3>비밀번호 변경</h3>
                <label for="currentPassword">현재 비밀번호</label>
                <input type="password" id="currentPassword" name="currentPassword">
                <span id="currentPasswordResult"></span>

                <label for="newPassword">새 비밀번호</label>
                <input type="password" id="newPassword" name="newPassword">

                <label for="confirmNewPassword">새 비밀번호 확인</label>
                <input type="password" id="confirmNewPassword" name="confirmNewPassword">
                <span id="passwordMatchResult"></span>

                <button type="submit" id="updateButton">수정 완료</button>
            </form>
        </div>
    </div>
</main>

<!-- 메인태그 닫고 로고 푸터 시작  -->
<div th:insert="~{header-footer :: footer}"></div>
<script src="/js/member/member-modify.js"></script>
</body>
</html>