<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 페이지</title>
    <link rel="stylesheet" href="/css/member/mypage.css">
    <link rel="stylesheet" href="/css/header-footer.css">
</head>
<body>
<!-- 헤더 부분 -->
<header>
    <nav>
        <div class="logo">
            <a th:href="@{/}"><img src="/img/고매치로고.png" alt="야구 리그 로고"></a>
        </div>
        <ul class="nav-links">
            <li><a href="#">일정/결과</a></li>
            <li><a href="#">굿즈</a></li>
            <li><a href="#">소모임</a></li>
            <li><a href="#">승부예측</a></li>
        </ul>
        <ul class="member-links">
            <th:block th:if="${loggedIn}">
                <li class="member-link"><a th:href="@{/member/mypage}"> <span th:text="${memberNickName} + ' 님'"></span></a></li>
                <li class="member-link"><a href="#" onclick="confirmLogout(); return false;">로그아웃</a></li>
            </th:block>
            <th:block th:unless="${loggedIn}">
                <li class="member-link"><a th:href="@{/member/loginpage}">로그인</a></li>
                <li class="member-link"><a th:href="@{/member/joinmember}">회원가입</a></li>
            </th:block>
        </ul>
    </nav>
</header>
<main>
    <div class="mypage-container">
        <div class="profile-img"><img src="/img/오타니.jpg" alt=""></div>
        <div class="profile-info">
            <h1>아용재</h1>
            <h5>닉네임</h5>
            <p>개인정보 수정과 열람 내역을 확인 할 수 있습니다.</p>
        </div>
    </div>
    <div class="content">
        <div class="section">
            <div class="section-title">개인정보</div>
            <div class="section-content"><img src="/img/회원수정.png" alt="">
                <p class="content-name">회원정보</p>
                <div class="section-line"></div>
                <div class="buttons-container">
                    <a href="./modifymember.html" class="button-link">
                        <button type="button">회원 수정</button>
                    </a>
                    <a href="./deletemember.html" class="button-link">
                        <button type="button">회원 탈퇴</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="section-title">내 소모임 리스트</div>
            <div class="section-content"><img src="/img/내소모임내역.png" alt="">
                <p class="content-name">소모임</p>
                <div class="section-line"></div>
                <div class="button-container2">
                    <a href="#"><button>가입한 소모임 확인하기</button></a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="section-title">내 구매 내역</div>
            <div class="section-content2"><img src="/img/내구매내역.png" alt="">
                <p class="content-name">구매 내역</p>
                <div class="section-line"></div>
                <div class="button-container2">
                    <a href="#"><button>구매내역 확인하기</button></a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="section-title">내 승부 예측 내역</div>
            <div class="section-content3"><img src="/img/내승부예측.png" alt="">
                <p class="content-name">승부예측 내역</p>
                <div class="section-line"></div>
                <div class="button-container2">
                    <a href="#"><button>승부예측 내역 확인하기</button></a>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- 메인태그 닫고 로고 푸터 시작  -->
<div class="team-logos">
    <div class="team-logos-container">
        <a href="#"><img src="/img/LG로고.png" alt="Twins" class="team-logo"></a>
        <a href="#"><img src="/img/KT로고.png" alt="Kiwiz" class="team-logo"></a>
        <a href="#"><img src="/img/SSG로고.png" alt="Landers" class="team-logo"></a>
        <a href="#"><img src="/img/NC로고.png" alt="Dinos" class="team-logo"></a>
        <a href="#"><img src="/img/두산로고.png" alt="Bears" class="team-logo"></a>
        <a href="#"><img src="/img/기아로고.png" alt="Tigers" class="team-logo"></a>
        <a href="#"><img src="/img/롯데로고.png" alt="Giants" class="team-logo"></a>
        <a href="#"><img src="/img/삼성로고.png" alt="Lions" class="team-logo"></a>
        <a href="#"><img src="/img/한화로고.png" alt="Wiz" class="team-logo"></a>
        <a href="#"><img src="/img/키움로고.png" alt="Heroes" class="team-logo"></a>
    </div>
</div>
</div>
<footer class="footer-page">
    <div class="footer-content">
        <div class="logo">
            <img src="/img/고매치로고.png" alt="GoMatch 로고">
        </div>
        <div class="footer-text">
            <p>게인정보 처리방침</p>
            <p>(사)GoMatch｜서울 종구 남대문로 120 대경빌딩 3층｜02)1544-1515</p>
            <p>Copyright © GoMatch</p>
        </div>
    </div>
</footer>
</body>
</html>