<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>카테고리 상품 목록</title>
</head>
<body>
<h1>카테고리 상품 목록</h1>
<table border="1">
    <thead>
    <tr>
        <th>상품 번호</th>
        <th>팀</th>
        <th>상품 이름</th>
        <th>가격</th>
        <th>상세 보기</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="goods : ${goodsList}">
        <td th:text="${goods.goodsNo}"></td>
        <td th:text="${goods.goodsTeam}"></td>
        <td th:text="${goods.goodsProductName}"></td>
        <td th:text="${goods.goodsPrice}"></td>
        <td><a th:href="@{/goods/detail/{goodsNo}(goodsNo=${goods.goodsNo})}">상세 보기</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
