<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>상품 수정</title>
</head>
<body>
<h1>상품 수정</h1>
<form th:action="@{/goods/update}" method="post">
    <input type="hidden" name="goodsNo" th:value="${goods.goodsNo}"/>
    <p>상품 번호: <span th:text="${goods.goodsNo}"></span></p>
    <p>팀: <input type="text" name="goodsTeam" th:value="${goods.goodsTeam}"/></p>
    <p>상품 이름: <input type="text" name="goodsProductName" th:value="${goods.goodsProductName}"/></p>
    <p>가격: <input type="number" name="goodsPrice" th:value="${goods.goodsPrice}"/></p>
    <p>상품 코드: <input type="text" name="goodsProductCode" th:value="${goods.goodsProductCode}"/></p>
    <p>제조일: <input type="date" name="goodsMakeDate" th:value="${goods.goodsMakeDate}"/></p>
    <p>출시일: <input type="date" name="goodsOutDate" th:value="${goods.goodsOutDate}"/></p>

    <button type="submit">수정하기</button>
</form>

<a href="/goods/list">목록으로 돌아가기</a>
</body>
</html>
