<form action="/goods/search" method="get">
  <select name="searchType">
    <option value="all" selected>전체</option>
    <option value="name">상품 이름</option>
    <option value="code">상품 코드</option>
  </select>
  <input type="text" name="searchValue" placeholder="검색어를 입력하세요">
  <button type="submit">검색</button>
</form>

<div>
  <form action="/goods/category/list" method="get"> <!-- 수정된 부분 -->
    <button type="submit" name="category" value="uniform">유니폼</button>
    <button type="submit" name="category" value="hat">모자</button>
    <button type="submit" name="category" value="goods">잡화</button>
    <button type="submit" name="category" value="cheer">응원용품</button>
    <button type="submit" name="category" value="baseball">야구용품</button>
  </form>
</div>

<table border="1">
  <thead>
  <tr>
    <th>상품 번호</th>
    <th>팀</th>
    <th>상품 이름</th>
    <th>가격</th>
    <th>상세 보기</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="goods : ${goodsList}">
    <td th:text="${goods.goodsNo}"></td>
    <td th:text="${goods.goodsTeam}"></td>
    <td th:text="${goods.goodsProductName}"></td>
    <td th:text="${goods.goodsPrice}"></td>
    <td><a th:href="@{/goods/detail/{goodsNo}(goodsNo=${goods.goodsNo})}">상세 보기</a></td>
  </tr>
  </tbody>
</table>
