@font-face {
    font-family: 'KBO Dia Gothic';
    src: url('../font/KBO\ Dia\ Gothic_medium.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #ffffff;
    font-family: 'KBO Dia Gothic', sans-serif;
}

.layout-container {
    display: flex;
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
}

.sidebar {
    width: 200px;
    background-color: #f0f0f0;
    text-align: center;
    overflow-y: auto;
    height: 100vh;
    position: sticky;
    top: 0;
}

.sidebarmember a {
    text-decoration: none;
    color: black;
}

/* 하위 메뉴 */
.submenu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.submenu show a {
    text-decoration: none;
}

.show {
    display: block;
}

.submenu li {
    padding: 10px 20px; /* 하위 메뉴 간격 조절 */
}


.content {
    flex-grow: 1;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input, select, button {
    width: 100%;
    max-width: 1100px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.option-input {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
