<<<<<<< HEAD
/* 메인 컨텐츠 스타일 */
@font-face {
    font-family: 'KBO Dia Gothic';
    src: url('../font/KBO\ Dia\ Gothic_medium.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body, html {
    background-color: #ffffff;
    font-family: 'KBO Dia Gothic', sans-serif;
=======
/* ■■■■■■■■■■ 폰트 css ■■■■■■■■■■ */
@font-face {
    font-family: 'KBO Dia Gothic Bold';
    src: url('/font/KBO Dia Gothic_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KBO Dia Gothic Medium';
    src: url('/font/KBO Dia Gothic_medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h2{
    font-family: 'KBO Dia Gothic Bold', Arial, sans-serif; /* 테마 폰트 적용 */

>>>>>>> 4a6695359fd77f3720f2f1478d4fb59290f48c57
}
/* 사진 팀순위  */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}
.top-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.team-ranking {
    width: 48%;
}

/* 사진 케러셀 */
.carousel {
    width: 48%;
    position: relative;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    width: 48%;
    margin-top: 65px;
}


.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-control {
    position: absolute;
    top: 50%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    text-decoration: none;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

/* 경기 일정 전체 스타일 */
.game-schedule, .calendar, .board {
    margin-bottom: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.game-container {
    display: flex;
    gap: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

/* 카드 스타일 */
.game-schedule .games {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.game-schedule .game {
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    width: 400px;
}


/* 카드 호버 시 확대 효과 */
.game-schedule .game:hover {
    transform: translate(0px,-10px);
}

/* 시간 및 팀명 폰트 스타일 */
.game .time {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}
.game-logo {
    width: 80px;
    height: 70px;
}

.game .teams {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.game .teams span {
    color: #007bff;
}
.game .teams-name {
    display: flex;
    justify-content: space-evenly;
}

/* 방송사 정보 스타일 */
.game .broadcaster {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

/* 선발 투수 정보 스타일 */
.game .pitchers p {
    font-size: 14px;
    color: #333;
}

/* 버튼 스타일 */
.prediction-btn {
    margin-top: 10px;
    padding: 15px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

/* 버튼 호버 시 색상 변화 */
.prediction-btn:hover {
    background-color: #0056b3;
}
.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

