<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoMatch</title>
    <link rel="stylesheet" th:href="@{/css/header-footer.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

<!-- 헤더 fragment -->
<header th:fragment="header">
    <nav>
        <div class="logo">
            <a th:href="@{/}"><img src="/img/고매치로고.png" alt="야구 리그 로고"></a>
        </div>
        <ul class="nav-links">
            <li><a href="/game/list">일정/결과</a></li>
            <li><a href="/goods/list">굿즈</a></li>
            <li><a href="/meeting/list">소모임</a></li>
            <li><a href="/matchPredict">승부예측</a></li>
        </ul>
        <ul class="member-links">
            <th:block th:if="${loggedIn}">
                <li class="member-link"><a th:href="@{/member/mypage}"><span th:text="${memberNickName + ' 님'}"></span></a></li>
                <li class="member-link"><a href="#" onclick="confirmLogout(); return false;">로그아웃</a></li>
            </th:block>
            <th:block th:unless="${loggedIn}">
                <li class="member-link"><a th:href="@{/member/loginpage}">로그인</a></li>
                <li class="member-link"><a th:href="@{/member/joinmember}">회원가입</a></li>
            </th:block>
        </ul>
    </nav>
    <script>
        function confirmLogout() {
            if (confirm("로그아웃 하시겠습니까?")) {
                window.location.href = "/member/logout";
            }
        }
    </script>
</header>

<!-- 푸터 fragment -->
<footer th:fragment="footer">
    <div class="footer-page">
        <div class="footer-content">
            <div class="logo">
                <img src="/img/고매치로고.png" alt="GoMatch 로고">
            </div>
            <div class="footer-text">
                <p>게인정보 처리방침</p>
                <p>(사)GoMatch｜서울 종구 남대문로 120 대경빌딩 3층｜02)1544-1515</p>
                <p>Copyright © GoMatch</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>