

/* ■■■■■■■■■■ 소모임 섹션 ■■■■■■■■■■ */

.bottom-content {
    max-width: 1200px;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 50px 0;
}

.bottom-content h2 {
    font-family: 'KBO Dia Gothic Bold', Arial, sans-serif; /* 테마 폰트 적용 */
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
/* 달력과 소모임 리스트를 나란히 배치 */
.content-layout {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

/* h3 스타일 수정 */
.calendar-container h3,
.meeting-list-container h3 {
    font-family: 'KBO Dia Gothic Medium', Arial, sans-serif;
    font-size : 22px;
    padding: 10px 0;
    margin: 0;
    height: 35px !important; /* 높이를 고정 */
    display: flex;
    align-items: center; /* 텍스트 가운데 정렬 */
    color: #333;
}
.calendar-container, .meeting-list-container {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* 그림자 통일 */
    padding: 20px;
}
/* ■■■■■■■■■■ 달력 섹션 ■■■■■■■■■■ */
/* 달력 컨테이너 */
.calendar-container {
    flex: 1;
    flex-direction: column;
    padding: 20px;
    max-width: 45%;
}

.calendar-note{
    color: #8b2637;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

/* 달력 스타일 */
#calendar {
    width: 100%;
    height: 100%;
    max-height: 380px;
}

.fc {
    overflow: hidden !important; /* FullCalendar에서 스크롤바가 생기지 않도록 추가 설정 */
    font-family: 'KBO Dia Gothic Medium', Arial, sans-serif; /* 테마 폰트 적용 */
}
/* 요일 헤더 글씨 굵기 조정 */
.fc .fc-col-header-cell-cushion {
    font-weight: normal; /* 원하는 굵기를 선택하세요: lighter, normal, 또는 숫자 (e.g., 300, 400) */
}

.fc-daygrid-day.game-date {
    position: relative;
    background-color: #f1f8ff; /* 경기 날짜 셀 배경색 */
}
/* 경기 일정 표시 아이콘 */
.fc-daygrid-day.game-date::after {
    content: '⚾';
    font-weight: bold;
    color: #FF5733;
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
/* 지난 날짜의 경기 아이콘 색상 변경 */
.fc-daygrid-day.past-date.game-date::after {
    content: '⚾';
    color: #000000; /* 검정색 */
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    z-index: 10;
}

/* 미래 및 현재 날짜 경기 아이콘 색상 */
.fc-daygrid-day:not(.past-date).game-date::after {
    color: #FF5733; /* 기존 빨간색 */
}
/* FullCalendar 날짜 셀 높이 조정 */
.fc-daygrid-day-frame {
    height: 44px !important; /* 원하는 높이로 설정 */
}
.fc-toolbar-title {
    font-size: 1.2em !important;
    color: #16215F; /* 메인 색상 */
}
/* 요일 헤더 높이 조정 */
.fc .fc-col-header-cell {
    padding: 10px 0 !important; /* 상하 패딩을 조정하여 높이 변경 */
    height: 20px !important;
    background-color: #8b2637;
    color: white;
}
/* 선택된 날짜 스타일 */
.fc-daygrid-day.fc-day-selected {
    background-color: #007bff !important; /* 버튼 색과 동일한 파란색 배경 */
    color: white; /* 텍스트 색상을 흰색으로 */
}

/* 지난 날짜 스타일 */
.fc-daygrid-day.past-date {
    background-color: #9f9f9f !important; /* 연한 회색 배경 */
    color: #ffffff; /* 텍스트 색상도 회색으로 */
}

/* ■■■■■■■■■■ 리스트 섹션 ■■■■■■■■■■ */
/* 소모임 리스트 컨테이너 */
.meeting-list-container {
    flex: 1;
    max-width: 55%;
}
.date-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 제목과 버튼 사이에 여유 공간을 설정 */
    margin-bottom: 10px;
}

/* 더보기 버튼 크기 및 위치 수정 */
.more-btn {
    margin-top: 0; /* 더보기 버튼의 상단 마진을 제거 */
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.more-btn:hover {
    background-color: #0056b3;
}

/* 소모임 리스트 항목 스타일 */
#meeting-list ul {
    list-style: none;
    padding: 0;
}

#meeting-list li {
    padding: 5px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
#meeting-list li:hover {
    background-color: #f0f8ff;
}

/* 카드 스타일 */
#meeting-list .item {
    display: flex;
    border: 1px solid #ddd;
    padding: 8px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

#meeting-list .item:hover {
    transform: translateY(-5px); /* 마우스 오버 시 살짝 올라가는 효과 */
}

#meeting-list .item .item-image {
    width: 100px;
    height: auto;
    margin-right: 5px;
}

#meeting-list .item .item-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#meeting-list .item .item-content {
    flex-grow: 1;
}

#meeting-list .meeting-title {
    font-family: 'KBO Dia Gothic Medium', Arial, sans-serif;
    font-size: 16px;
    color: #00AEEF;
    font-weight: bold;
    margin-bottom: 10px;
}
#meeting-list .meeting-game-info,
#meeting-list .meeting-place,
#meeting-list .meeting-max-people {
    font-size: 14px;
    color: #333;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#meeting-list .icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.more-indicator {
    color: #8b2637;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}