.filter-buttons {
    display: flex;
    justify-content: center;
    width: 100%; /* 버튼을 테이블 크기에 맞춤 */
    margin-bottom: 0; /* 필터와 테이블 간격 제거 */
    margin-top: 20px;
}

.filter-btn {
    flex: 1; /* 버튼들이 동일한 너비를 가짐 */
    padding: 10px 0;
    margin: 0;
    background-color: #699ed6;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 0;
    transition: background-color 0.3s;
    text-align: center;
}

.filter-btn:hover {
    background-color: #979bb6;
}

.filter-btn.active {
    background-color: #16215F; /* 선택된 필터의 색을 남색으로 변경 */
    color: white;
}

.all-my-meeting {
    max-width: 1000px;
    margin: 0 auto;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 90%;
    border: 1px solid #ddd;
    margin-bottom: 100px;
}

.styled-table thead tr {
    background-color: #f8f8f8;
    font-weight: bold;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

.styled-table tbody tr:hover {
    background-color: #f0f8ff;
}

.styled-table a {
    text-decoration: none;
    color: #0056b3;
}

.styled-table a:hover {
    text-decoration: underline;
}