*,
*::after,
*::before {
    box-sizing: content-box; /* 또는 원래 값을 설정 */
}

.container {
    max-width: 800px;
    margin-top: 80px;
    height: 900px;
}
.card {
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 800px;
}
.card-header {
    background-color: #007bff;
    color: white;
    border-radius: 15px 15px 0 0 !important;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.table {
    margin-bottom: 0;
}
.table td {
    vertical-align: middle;
}

.btn-secondary {
    margin: auto;
    width: 20%;
    background-color: black;
}