/* ■■■■■■■■■■ 폰트 css ■■■■■■■■■■ */
@font-face {
    font-family: 'KBO Dia Gothic Bold';
    src: url('/font/KBO Dia Gothic_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KBO Dia Gothic Medium';
    src: url('/font/KBO Dia Gothic_medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: content-box; /* 또는 원래 값을 설정 */
}

.chat-container {
    max-width: 800px;
    margin: 50px auto;
}

.chat-room-title {
    color: #ffffff;
    text-align: center;
    font-size: 1.8em;
    background-color: #16215F;
    padding: 4px;
}
.chat-messages {
    height: 500px;
    overflow-y: auto;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 15px;
    background-color: #e0eaf3;
}
.message {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.message.sent {
    align-items: flex-end;
}
.message.received {
    align-items: flex-start;
}
.message-content {
    max-width: 70%;
    padding: 8px 15px;
    border-radius: 15px;
}
.sent .message-content {
    background-color: #39538f;;
    color: white;
}
.received .message-content {
    background-color: #ffffff;
    color: black;
}
.sender {
    font-size: 1em;
    margin-bottom: 2px;
}
.system-message {
    color: #6c757d;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
}

.profile {
    width: 55px;
    height: 55px;
}

.profile-img {
    object-fit: cover;
    width: 55px;
    height: 55px;
    border-radius: 100px;
}