@font-face {
    font-family: 'KBO Dia Gothic Bold';
    src: url('/font/KBO Dia Gothic_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'KBO Dia Gothic Medium';
    src: url('/font/KBO Dia Gothic_medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.gameList-section {
    display: flex;
    background-color: rgba(226, 233, 241, 0.3);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 1200px;
    width: 70%;
    text-align: center;
    font-family: 'KBO Dia Gothic Medium', Arial, sans-serif;
}

.gameList-container {
    width: 100%;
}


.gameList-main {
    width: 100%;
}

.gameList-table {
    padding: 30px;
    width: 100%;
    border-collapse: collapse;
}

.gameList-table th, .gameList-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size : 15px;
}

.gameList-table th {
    background-color: #f2f2f2;
}

.gameList-table span {

}

.select-div {
    display: flex;
}

.text-red {
    color: #a63446;
}

.text-blue {
    color: #16215F;
}

#monthSelect {
    font-family: 'KBO Dia Gothic Medium', Arial, sans-serif;
    width: 150px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 13px;
    margin : 20px auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    justify-content: center;
}

#calendar {
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
}


/* 달력 헤더 스타일 */
.fc-toolbar {
    display: flex; /* Flexbox 사용 */
    justify-content: space-between; /* 양 끝으로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    padding: 10px 0; /* 위 아래 패딩 */
}

.fc-toolbar-title {
    font-size: 1.5em; /* 큰 제목 폰트 크기 */
    font-weight: bold; /* 두껍게 */
}

/* 날짜 셀 스타일 */
.fc-day {
    background-color: #fff; /* 흰색 배경 */
    border: 1px solid #ddd; /* 연한 회색 테두리 */
    height: 80px; /* 높이 설정 */
    position: relative; /* 자식 요소 위치 설정을 위한 상대 위치 */
}

.fc-day-sun a {
    color: red;
    text-decoration: none;
}

/* 토요일 날짜 파란색 */
.fc-day-sat a {
    color: blue;
    text-decoration: none;
}

.fc-day.fc-today  {
    background-color: #699ed6 !important;
}

.highlight-team {
    background-color: #ffff00 !important;
    border-color: #ffa500 !important;
}

.view-buttons {
    display: flex;
    text-align: center;
    justify-content: center; /* 버튼들을 중앙 정렬 */
    margin: 20px 0
}

#listViewBtn {
    display: flex;
    width: 150px;
    height: 50px;
    background-color: #a63446;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 20px;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

#calendarViewBtn {
    display: flex;
    width: 150px;
    height: 50px;
    background-color: #16215F;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

/*
    aside css
 */
aside {
    --width: 15%;
    float: left;
}

#aside-main {
    margin-left: 150px;
    background-color: #16215F;
    border-radius: 30px;
    height: 400px;
    display: flex;
    justify-content: center;
    width: 200px;
}

#aside-content {
    align-content: space-between;
    font-size: 17px;
    color: white;
    margin : 50px 0px;
    text-align: center;
}

#aside-content ul {
    padding: 0;
    margin-left: 0;
}
#aside-content li {
    margin: 0;
    padding-top: 30px;
    text-decoration: none;
    list-style: none;
}

#aside-content li a {
    --color: black;
    color: white;
    text-decoration: none;
}

#aside-content li a:hover {
    font-weight: 600;

}

#aside-content li a.active {
    font-weight: 600;
}

.aside-header {
    margin-top: 50px;
}